<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sci-Fi Random Generator</title>
    <script src="/htmx.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/concrete.css/3.0.0/concrete.min.css">
    <style>
        @font-face {
            font-family: 'StarJedi';
            src: url('/starjedi.otf') format('opentype');
        }

        h1 {
            font-family: 'StarJedi', sans-serif;
        }

        footer {
            clear: both;
            position: relative;
        }

        .notice {
            font-size: 10px;
        }
    </style>
</head>

<body>
    <main>
        <section>
            <h1>{{ .name }}</h1>
            <form id="queryForm" hx-get="/api/random?category={{.name}}" hx-target="#results" hx-swap="innerHTML">
                <label for="count">Number of Elements:</label>
                <input type="number" id="count" name="count" min="1" max="50" value="10">
                <button type="submit">Generate</button>
            </form>
            <h2>Results</h2>
            <ul id="results"></ul>
            </br>
        </section>
        </br>
        <section>
            <footer>
                <p class="notice">Author: Andrew Mohnkern aka turret-detected</p>
                <p class="notice">Contains derivative works, modified and presented under fair use</p>
                <p class="notice"><a href="/credits.html">Credits</a> | <a href="https://github.com/turret-detected/rpg_gen">Source</a> </p>
                <a href="https://www.digitalocean.com/?refcode=2059fc2512fc&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">
                    <img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" />
                </a>
            </footer>
        </section>
    </main>
</body>

</html>